/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primario:  #E65446;
  --color-primariohover: #e07e75;

  /* --color-primario:  rgb(6, 116, 64);
  --color-primariohover:rgba(0, 255, 136, 0.322); */

}

body {
  color: dimgrey;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #F2F0EE;
}

h1{
  margin-top: 0;
}

.primary {
  color: var(--color-primario);
}

.bgprimary {
  /* background-color: #E65446; */
  background-color: var(--color-primario); 
}

.container {
  padding-top: 4.375rem;
  padding-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  /*   background-color: #FFFFFF;*/
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas: "contenedor contenedor contenedor"
    "fooder fooder fooder";
}

.contenedor {
  background-color: #FFFFFF;
  border-radius: 0.625em;
  /* bordes redondos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* Sombras */

  padding-left: 2em;
  padding-right: 2em;
  grid-area: contenedor;

  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas: "header header header"
    "contenido contenido contenido";

}

.contenedor .contenido {
  grid-area: contenido;
  min-height: 31.25em;
  margin-bottom: 0.625em;
  padding-left: 3.75em;
}


/* Estilos header Menu */
.header {
  grid-area: header;
  list-style-type: none;
  margin: 0;
  text-align: left;
}

.nav {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.logo {
  float: left;
  /* Alinea el logo a la izquierda */
  text-decoration: none;
  color: #58595B;
  transition: color 0.3s ease;
  /* Transición suave para el cambio de color */
}

.header .logo:hover {
  color: var(--color-primario);
  /* Color del logo al hacer hover */
  font-size: 1.125em;
  /* Cambiar el tamano de la letra    */
}

.header .logo i {
  margin-right: 0.3125em;
  /* Espacio entre el icono y el texto del logo */
}

.header ul {
  text-align: right;
}

.header li {
  display: inline-block;
  margin-left: 0.625em;
  margin-right: 1.25em;
}

.header li a {
  text-decoration: none;
  color: #58595B;
  position: relative;
  /* Para posicionar el subrayado */
  transition: color 0.3s ease;
  /* Transición suave para el cambio de color */
}

.header li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125em;
  /* Grosor del subrayado */
  bottom: -0.1875em;
  /* Espacio entre el texto y el subrayado */
  left: 0;
  background-color: transparent;
  /* Color inicial del subrayado */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.header li a:hover {
  color: var(--color-primario);
  /* Color de la letra al hacer hover */
}

.header li a:hover::after {
  background-color: var(--color-primario);
  /* Color del subrayado al hacer hover */
}

.header .logo-o {
  display: none;
}

/* Stylo contenido*/


.contenido-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 34.37em;
}

.contenido-grid .hero {
  grid-column: span 2;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.8125em;

}

/* Estilos adicionales para el contenido del nombre y profesión */
.contenido-grid .hero h1 {
  font-size: 2.81em;
}

.contenido-grid .hero p {
  font-size: 0.875em;
  color: #999;
}

#descripcion {
  margin-top: 2.8125em;
}

/* Estilo del botón */
.borde-boton {
  margin: 2.8125em 0.625em 2.8125em 0.625em;
  width: 5.625em;
  height: 5.625em;
  border-radius: 50%;
  overflow: hidden;
  background-color:var(--color-primariohover);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
  /* Cambiar el cursor del mouse */
}

.botton-Contact {
  margin: 0.625em 0.625em 0.625em 0.625em;
  width: 4.0625em;
  height: 4.0625em;
  border-radius: 50%;
  overflow: hidden;
  background-color:var(--color-primario);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
  transition: background-color 0.3s ease;
  cursor: wait;
  /* Cambiar el cursor del mouse */
}

/* Efecto hover */
.botton-Contact:hover {
  background-color: darkred;
}

.contenido-grid .hero-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em;
}

.divredes {
  justify-content: center;
  text-align: center;
  margin-top: 0.9375em;
}

.divredes a {
  text-decoration: none;
  color: #58595B;
}

.fa-linkedin:hover {
  color: blue;
  transition: color 0.3s ease;
}

.fa-facebook:hover {
  color: blue;
  transition: color 0.3s ease;
}

.fa-github:hover {
  color: black;
  transition: color 0.3s ease;
}

/* Estilos para circulo de la foto */
.contenedor-circo {
  width: 26.25em;
  height: 25.625em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: left
}

.contenedor-circo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* linea para titulos*/
.marca_titulo {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.punto {
  margin-left: -0.75rem;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
}

.linea {
  height: 0.2rem;
  width: 8rem;
}

.About{
  margin-top: 3.125em;
}

.About .about-content {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);

  grid-template-areas: "skill img-skill";

  height: 35em;
  background-color: #F2F0EE;
  border-radius: 0.625em;
  padding: 1.875em;
  margin-bottom: 1.875em;
}

.About .about-content .skill {
  grid-area: skill;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.About .about-content .img-skill {
  grid-area: img-skill; 
  text-align: center;
  align-items: center;
  justify-content: center;
}

.img-skill img{
  width: 100%; 
  height:80%;
  object-fit: fill;
}
.skill .tools-container{
  min-height:46.88em;
}

.skill .tools-container>div>h4{
  margin-bottom: 35px;
}

.skill .tools-container>div{
  padding: 1.875em 0 1.875em 1.875em;
  background-color: #F2F0EE;
  border-radius: 0.625em;
  margin: 1.87em 0 1.87em 0;
}


.skill .tools-container .tools {
  grid-area: tools;

  display: grid;
  grid-template-columns: repeat(9, 1fr); /* Seis columnas de igual tamaño para los iconos */
  grid-gap: 25px; /* Espacio entre los iconos */

  justify-content: center;
  align-items: center;
}

.skill .tools-container .tools >  div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
  cursor: pointer;
}

.skill .tools-container .tools div:hover {
color: #838383; /* Cambio de color del ícono al pasar el cursor */
}

.skill .tools-container .tools >  div > i {
  font-size: 2.1875em;
  margin-bottom: 0.3125em; /* Espacio entre el icono y el texto */
  transition: transform 0.3s ease; /* Transición suave para el efecto de zoom en el texto */
}

.tools div:hover i {
  transform: scale(1.2); /* Efecto de zoom en el texto al pasar el cursor */
}

.portafolio{
  margin-top: 3.125em;
}

.portafolio .grid-portafolio{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual tamaño para los iconos */
  grid-gap: 1.25em; /* Espacio entre los iconos */
}

.portafolio .grid-portafolio> div{
  width: 100%;
  height: 12.5em;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease; /* Agrega una transición suave al efecto de zoom */
}


.portafolio .grid-portafolio > div > img{
  width: 100%;
  height: 100%;
  border-radius: 1.25em;
  object-fit: cover;
}

.grid-portafolio a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0.6em 1.2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.3125em;
  opacity: 0;
  transition: opacity 0.6s ease;
  background-color: #0000008a;
}

.grid-portafolio a.left {
  left: 6.2em;
}

.grid-portafolio a.right {
  right: 5.6em;
}

.grid-portafolio div:hover a {
  opacity: 4;
}

.portafolio .grid-portafolio > div:hover{
  filter:brightness(80%); /* Aplica un filtro de color gris al 100% */
  transition: filter 0.6s ease; /* Agrega una transición suave al filtro */
  border-radius: 1.25em;
  transform: scale(1.009); /* Aplica un zoom del 110% en estado hover */
}

.contact{
  min-height: 18.75em;
  margin: 2.5em 0 2.5em 0;
}

.contact .grid-contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Seis columnas de igual tamaño para los iconos */
  grid-gap: 1.5625em; /* Espacio entre los iconos */

  justify-content: center;
  align-items: center;
  margin: 1.5625em 0 1.5625em 0;
  padding: 3.125em 0 3.125em 0;

}

.contact .grid-contact >  div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
  cursor: pointer;
}

.thumbnail{
  width: 2.5em;
  height: 2.5em;
  transition: transform 0.3s ease; /* Transición suave para el efecto de zoom en el texto */
}

.thumbnail:hover{
  transform: scale(1.2); /* Efecto de zoom en el texto al pasar el cursor */
}

/* ==== Clase animada ==== */
.animado{
  opacity: 0;
  transform: all 1s;
}

.mostrarArriba{
  animation: mostrarArriba 1s;
}

.ocultarAbajo{
  animation: ocultarAbajo;
}


@keyframes mostrarArriba{

  0%{
    transform: translateY(60px);
  }

  100%{
    transform: translateY(0);
  }
}

@keyframes ocultarAbajo {
  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(60px);
  }
}

/* Footer */

.container .footer {
  grid-area: fooder;
  font-size: 0.75rem;
  padding-left: 28px;
  padding-right: 28px;

  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas: "copy copy"
                      "bandera bandera";
}

.footer .copy{
  grid-area: copy;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
}


.footer .copy>div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.footer .footerColor{
  grid-area: bandera;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}


.color1 {
  background-color: #0781f3;
  min-height: 0.5em;
}

.color2 {
  background-color: #fcfcfc;
}

.color3 {
  background-color: #fa0000;

}

.color4 {
  background-color: #fcfcfc;
}

.color5 {
  background-color: #0781f3;

}

/* ================Estilos responsivos ===================================*/

/* 3XL large devices (large desktops 1200px para arriba)*/
@media (min-width: 1400px) {
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
}

/* Extra large devices (large desktops 1200px para arriba)*/
@media (max-width: 1200px) {
  .container {
    margin-left: 24px;
    margin-right: 24px;
  }

  body {
    font-size: 15px;
  }
}

/* Large devices (desktops 992px para arriba)*/
@media (max-width: 992px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  body {
    font-size: 14px;
  }
}

/* Medium devices (desktops 768px para arriba)*/
@media (max-width: 764px) {
  .container {
    padding: 0 0 0 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
  }

  .contenedor {
    border-radius: 0;
    /* bordes redondos */
    box-shadow: none;
    /* Sombras */
  }

  body {
    background-color: #FFFFFF;
  }

  .contenedor-circo {
    width: 180px;
    height: 180px;
  }

  /* Stylo contenido*/
  .contenido-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contenido-grid .hero {
    text-align: center;
    float: none;
    align-items: center;
    justify-content: center;
  }

  .contenido-grid .hero-foto {
    grid-column: span 2;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .hero .titulo {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 2.5em;
  }

  .hero .profesion {
    font-weight: bold;
    font-style: normal;
  }

  .header .logo-o {
    display: inline;
  }

  .header .logo-m {
    display: none;
  }

  .About .about-content { 
    grid-template-areas: "skill skill"
  }

  .img-skill img{
   display: none;
  }

  .portafolio .grid-portafolio{

    grid-template-columns: repeat(1, 1fr); /* Tres columnas de igual tamaño para los iconos */
    grid-gap: 20px; /* Espacio entre los iconos */
  }
  .grid-portafolio a.left {
    left: 70px;
  }
  
  .grid-portafolio a.right {
    right: 70px;
  }
  
  
  .portafolio .grid-portafolio > div:hover{
    filter:brightness(80%); /* Aplica un filtro de color gris al 100% */
    transition: filter 0.6s ease; /* Agrega una transición suave al filtro */
    border-radius: 5px;
    transform: scale(1.009); /* Aplica un zoom del 110% en estado hover */
  }

  .footer .copy{
    grid-template-columns: repeat(1,1fr);
  }

}

/* Small devices (landscape phones, 576px para arriba)*/
@media (max-width: 576px) {

  .contenedor .contenido {
    padding-left: 0;
  }




  
}